<ion-header>
  <ion-toolbar>
    <ion-title>Modifier annonce</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mes-annonces"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content *ngIf = "selectedAnnonce.categorie == 'immobilier'">
    <div class="ion-margin">
      <form #f="ngForm">
        <ion-input ngModel="{{selectedAnnonce.id}}" name="id" type="number" ></ion-input>
        <ion-item>
          <ion-label position="floating">Titre</ion-label>
          <ion-input #i="ngModel" required ngModel="{{selectedAnnonce.titre}}"  type="text"  name="titre" id="titre" placeholder="{{selectedAnnonce.titre}}" ></ion-input>
        <!-- <div *ngIf="i.invalid" class="alert alert-danger">Ce champ est obligatoire</div> -->  
      </ion-item>
      <ion-item>
        <ion-label position="floating" for="adresse">Adresse</ion-label>
        <ion-input ngModel="{{selectedAnnonce.adresse}}" required type="text" name="adresse" id="adresse" placeholder="Centre urbain nord, 2026 Tunis">
        </ion-input>
      </ion-item>
        <ion-list>
          <ion-item>
            <ion-label position="floating" for="gouv">Région</ion-label>
            <ion-select ngModel="{{selectedAnnonce.gouver}}" required aria-label="Région" interface="popover" placeholder="Choisir la région" name="gouver">
              <ion-select-option value="Tunis">Tunis</ion-select-option>
              <ion-select-option value="Ariana">Ariana</ion-select-option>
              <ion-select-option value="Manouba">Manouba</ion-select-option>
              <ion-select-option value="Ben Arous">Ben Arous</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item><ion-label position="floating" for="prix">Prix</ion-label>
        <ion-input ngModel="{{selectedAnnonce.prix}}" required type="number" name="prix" id="prix" placeholder="100000 TND"></ion-input></ion-item>
        <ion-item><ion-label position="floating" for="nbPiece">Nombre de piece</ion-label>
        <ion-input ngModel="{{selectedAnnonce.nbPiece}}" required type="number" name="nbPiece" id="nbPiece" placeholder="0"></ion-input></ion-item>
        <ion-item><ion-label position="floating" for="superficie">Superficie</ion-label>
        <ion-input ngModel="{{selectedAnnonce.superficie}}"  type="number" name="superficie" id="superficie" placeholder="100 m²"></ion-input></ion-item>
        <ion-item><ion-label position="floating" for="desc">Description</ion-label>
        <ion-input  ngModel="{{selectedAnnonce.desc}}" type="textarea"  name="desc" id="desc"  maxlength="500"></ion-input></ion-item>
   <!-- <ion-item><ion-label position="floating" for="desc">{{100 - inputValue.length}} characters remaining </ion-label>  -->
    <ion-item><ion-label position="floating" for="images">Image</ion-label>
        <ion-input label="Images" labelPlacement="floating" ngModel="{{selectedAnnonce.images}}"  type="url" name="images" id="images" placeholder="http/www.image.jpg, http/..."></ion-input></ion-item>
        <ion-item><ion-label position="floating" for="options">Options</ion-label>
        <ion-input ngModel="{{selectedAnnonce.options}}"  type="text" name="options" id="options" placeholder="Gaz de ville, Chauffage centrale, ..."></ion-input></ion-item>
        <ion-input ngModel=1 name="idUser" type="number" disabled="true"></ion-input>
        <ion-button size="block" color="primary" (click)="updateAnnonce(f.value)">Modifier</ion-button>
      </form>
  
    </div>
  </ion-content>


  <ion-content *ngIf = "selectedAnnonce.categorie == 'vehicule'">
    <div class="ion-margin">
  <form #f2="ngForm">
    <ion-input ngModel="{{selectedAnnonce.id}}" name="id" type="number" ></ion-input>
    <ion-item>
    
      <ion-label position="floating">Titre</ion-label>
      <ion-input #i="ngModel" required ngModel="{{selectedAnnonce.titre}}"  type="text" name="titre" id="titre" placeholder="Ajouter un titre"></ion-input>
    <!-- <div *ngIf="i.invalid" class="alert alert-danger">Ce champ est obligatoire</div> -->  
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="floating" for="marque">Marque</ion-label>
      <ion-select ngModel="{{selectedAnnonce.marque}}" required aria-label="Marque" interface="popover" placeholder="Choisir la Marque" name="marque">
        <ion-select-option value="Peugeot">peugeot</ion-select-option>
        <ion-select-option value="Renault">Renault</ion-select-option>
        <ion-select-option value="Kia">Kia</ion-select-option>
        <ion-select-option value="Alpha Romeo">Alpha Romeo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating" for="modele">Modèle</ion-label>
        <ion-select ngModel= "{{selectedAnnonce.modele}}" required aria-label="Modèle" interface="popover" placeholder="Choisir le modèle" name="modele">
          <ion-select-option value="206">206</ion-select-option>
          <ion-select-option value="208">208</ion-select-option>
          <ion-select-option value="Partner">Partner</ion-select-option>
          <ion-select-option value="Renault">Renault</ion-select-option>
          <ion-select-option value="Picanto">Picanto</ion-select-option>
          <ion-select-option value="Rio">Rio</ion-select-option>
          <ion-select-option value="Mito">Mito</ion-select-option>
          <ion-select-option value="Stelvio">Stelvio</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
    <ion-item>
      <ion-label position="floating" for="couleur">Couleur</ion-label>
      
        <ion-select ngModel="{{selectedAnnonce.couleur}}" aria-label="Couleur" name="couleur" placeholder="choisir le couleur">
        <ion-select-option value="Rouge">Rouge</ion-select-option>
        <ion-select-option value="Bleu">Bleu</ion-select-option>
        <ion-select-option value="Vert">Vert</ion-select-option>
        <ion-select-option value="Gris">Gris</ion-select-option>
        <ion-select-option value="BLanc">BLanc</ion-select-option>
        <ion-select-option value="Noir">Noir</ion-select-option>
        
      </ion-select>
    
    </ion-item>
  </ion-list>
    <ion-item><ion-label position="floating" for="prix">Prix</ion-label>
    <ion-input ngModel="{{selectedAnnonce.prix}}" required type="number" name="prix" id="prix" placeholder="100000 TND"></ion-input>
  </ion-item>
    <ion-item><ion-label position="floating" for="puissance">puissance</ion-label>
    <ion-input ngModel="{{selectedAnnonce.puissance}}" required type="number" name="puissance" id="puissance" placeholder="4"></ion-input>
  </ion-item>
    <ion-list>
    <ion-item>
      <ion-label position="floating" for="energie">Energie</ion-label>
      
        <ion-select ngModel="{{selectedAnnonce.energie}}" required aria-label="energie" name="energie" placeholder="choisir l'energie'">
        <ion-select-option value="Essence">Essence</ion-select-option>
        <ion-select-option value="Diesel">Diesel</ion-select-option>
        <ion-select-option value="Electrique">Electrique</ion-select-option>
      
        
      </ion-select>
     
    </ion-item>
  </ion-list>
    
    <ion-item><ion-label position="floating" for="kilometrage">Kilomètrage</ion-label>
    <ion-input ngModel="{{selectedAnnonce.kilometrage}}" required type="number" name="kilometrage" id="kilometrage" placeholder="100000 km"></ion-input></ion-item>
    <ion-item><ion-label position="floating" for="desc">Description</ion-label>
    <ion-input  ngModel="{{selectedAnnonce.desc}}" type="textarea"  name="desc" id="desc"  maxlength="500"></ion-input></ion-item>
<!-- <ion-item><ion-label position="floating" for="desc">{{100 - inputValue.length}} characters remaining </ion-label>  -->
<ion-item><ion-label position="floating" for="images">Image by url</ion-label>
  <ion-input label="Images" labelPlacement="floating" ngModel="{{selectedAnnonce.images}}"  type="url" name="images" id="images" placeholder="http/www.image.jpg, http/..."></ion-input></ion-item>
  <ion-note slot="helper">Enter url(s), use seperator ","</ion-note>
  <ion-item><ion-label position="stacked" for="imagefile">Image</ion-label>
  <ion-input type="file" (change)="uploadImages($event)" multiple></ion-input>
</ion-item>


   
      <ion-list>
        
       <ion-item> 
        <ion-label position="floating" for="options">Options</ion-label>
        <ion-input ngModel="{{selectedAnnonce.options}}"  type="text" name="options" id="options" placeholder="Fermeture centrale, Vitre éléctrique"></ion-input></ion-item>
      </ion-list>
      <!-- <ion-input ngModel  type="text" name="options" id="options" placeholder="Gaz de ville, Chauffage centrale, ..."></ion-input> -->
   
    <ion-button size="block" color="primary" (click)="updateAnnonce(f2.value)">Modifier</ion-button>
  </form>
  </div>
  </ion-content>